@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: rgb(12, 74, 110);
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(3 105 161);
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  rgb(6, 145, 219);
}